.centerright{
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.centerleftCenterright{
  /* @morph edited from 120px to 100px; */
    margin-left: 100px;
}

.backgroundImage{
    position: fixed;
    /* top:0; */
    left:0;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 110);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
    transition: background-image 3s;
}

.header {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 35vw;
    font-family: "Montserrat";
    font-size:30px;
    color: #ffffff;
    line-height: 185.9%;
    letter-spacing: 0.04em;
}

.h{
    margin-left: 12px;
}

.h1{
    display: block;
    font-size: 2.1em;
    margin-top: 0;
    margin-right: 0;
    font-weight: bolder;
}
.h4{
    display: block;
    font-size: 1em;
    margin-top: 0;
    margin-right: 0;
    font-weight: bold;
}

.header p {
    /* width: 40vw; */
    font-family:inherit;
    font-style: normal;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    margin-top: 20px;
    line-height: 137.9%;
}

@media screen and (max-width: 540px){
  /* @Morph suggest */
  .centerright { justify-content: normal;}
     .header {
        width: 60vw;
        font-size: 18px;
    }
    .header p{
        color: rgba(255, 255, 255, 0.75);
        /* @Morph suggest */
        font-size: 14px;
    }
    .backgroundImage{
        top: 0px;
        left: -70%;
        width: auto;
    }

}
@media screen and (min-width: 540px) and (max-width: 960px) {
    .header {
        width: 66vw;
    }
    .backgroundImage {
        top: 0px;
        left: -40%;
        width: auto;
    }
}
