.NavleftItems {
  /* background: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    border-right: 2px red; */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 1px solid transparent;
}

.topItems{
    position: fixed;
    top: 3%;
}

.nav-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 25px;
  width: auto;
}
.nav-text {
  /* MUSSA */
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 94.9%;
  /* or 34px */
  letter-spacing: 0.04em;
  padding-top: 6px;
  color: #ffffff;
  margin-left: 15px;
}

.social{
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 89%;
  bottom: 0px;
  min-height: 150px;
  margin-bottom: 50px;
}

.links {
  display: block;
  margin: auto;
  margin-top: 26px;
  cursor: pointer;
}
@media only screen and (max-width:540px) {
  .nav-text{
      display: none;
  }
  .nav-image{
      position: fixed;
      margin-left: 25px;
      width: 10%;
  }
  .social {
      display: none;
  }
}
@media screen and (max-width: 960px) and ( min-width:540px ){
    .NavleftItems{
        width: 80px;
    }
    .nav-image{
        width: auto;
    }
    .nav-text{
        font-size: 30px;
    }
    .social{
      /* @Morph suggest */
        position: absolute;
        right: 0%;
    }
    /* For making the navigation button float and toggleable
     * .social-menu {
        position: absolute;
        bottom: 0;
        left: 45%;
        top: 140%;
        opacity: 0.4;
    }

    .social-menu.active{
        top: -90%;
        bottom: 0;
        opacity: 0.9;
        transition: all 0.3s ease;
        z-index: 1;
    }
    .social-icon{
        display: block;
        position: absolute;
        bottom: 0;
        transform: translate(-20%, 100%);
        left: 50%;
    }

    .fa-comment{
        color: #f9f9f9;
        font-size: 18px;
    }
    .fa-times{
        color: #fff;
    }
     */
}
