.NavbarItems {
  background: transparent;
  min-height: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
}

.NavbarLeftSome{
    display:flex;
    flex-direction: row;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;
}


.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 112.9%;
}

.nav-links.clicked {
    color: red;
}

.nav-menu:active {
    color: red;
}

.menu-icon {
    display: none;
}

li {
  list-style: none;
  margin-right: 30px;
}

li > span {
  cursor: pointer;
  font-size: 16px;
  float: center;
}

li > hr {
  opacity: 0;
  transition: width 0.7s ease-in;
  /* width: 0px; */
  width: 50%;
  border-style: none;
  background:red;
  height: 2px;
  margin: 12px 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
li:hover > hr {
  opacity: 1;
  margin: 12px 20px;
  width: 50%;
  float: center;
}

@media screen and (max-width: 540px) {
    .NavbarItems {
            position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        position: absolute;
        top: 40px;
        left: -110%;
        opacity: 1;
        transition: all 0.3s ease;
        background: transparent;
        padding: 20px 0px;
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        transition: all 0.3s ease;
        z-index:1;
    }
    
    .nav-links {
        margin-left: 90px;
        text-align: center;
        padding: 34px;
        width: 60vw;
        display:table;
        /** background: rgba(255,255,255,0.15); **/
        background: rgba(4,4,4,0.7);
        backdrop-filter: blur(6px);
    }
    /* .nav-menu li:first-child{ margin-top: 20px;} */
    .nav-links:hover {
        border-radius: 0;
        /** border-bottom: 1px solid red; **/
        background: rgba(255,255,255,0.45);
        color: black;
    }
    .menu-icon{
        display:block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-20%, 20%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-bars{
        color: #f9f9f9;
        background-color: transparent;
    }

    .fa-times{
        color: #fff;
        background-color: transparent;
    }

    li > hr{
        display: none;
    }
}
@media screen and (min-width: 540px) and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        position: absolute;
        top: 40px;
        left: -110%;
        opacity: 1;
        transition: all 0.3s ease;
        background: transparent;
        padding: 20px 0px;
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        transition: all 0.3s ease;
        z-index:1;
    }

    .nav-links {
        margin-left: 120px;
        margin-bottom: 0px;
        text-align: center;
        padding: 34px;
        width: 70vw;
        display:table;
        /** background: rgba(255,255,255,0.15); **/
        background: rgba(4,4,4,0.7);
        backdrop-filter: blur(6px);
    }
    .nav-links:hover {
        border-radius: 0;
        /** border-bottom: 1px solid red; **/
        background: rgba(255,255,255,0.45);
        color: black;
    }
    .menu-icon{
        display:block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-110%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-bars{
        color: #f9f9f9;
        background-color: transparent;
    }

    .fa-times{
        color: #fff;
        background-color: transparent;
    }

    li > hr{
        display: none;
    }
    }
