* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  /* min-height: calc(var(--vh, 1vh) * 100);*/
  min-width: 100vw;
  overflow: hidden;
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
}

@media screen and (max-width: 279px){
    .App{
        display: none !important;
    }
}
